@import "ui-variables";
@import "octicon-mixins";

#trinity-root {
  // .tree-view-resizer sets a width of 200px
  //width: 225px;

  .icon:before {
    display: inline;
  }

  #trinity-wv {
    visibility: hidden;
  }

  .test-comment {
    background-color: @app-background-color;
    width: 100%;
  }
}
